// VAR

@grid-width:980px;
@breakpoint:736px;

//GRID

.toad-full {
    width: 100%;
}

.toad-fullscreen {
    width: 100vw;
}

.toad-container {
    width: @grid-width;
    margin: 0 auto!important;
    
    div {
        float: left;
        margin: 0.5%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .t-1 {
        width : 7.33333333%; 
    }
    .t-2 {
        width : 15.66666667%; 
    }    
    .t-3 {
        width : 24%; 
    }
    .t-4 {
        width : 32.33333333%; 
    }
    .t-5 {
        width : 40.66666667%; 
    }
    .t-6 {
        width : 49%; 
    }
    .t-7 {
        width : 57.33333333%; 
    }
    .t-8 {
        width : 65.66666667%; 
    }
    .t-9 {
        width : 74%; 
    }
    .t-10 {
        width : 82.33333333%; 
    }
    .t-11 {
        width : 90.66666667%; 
    }
    .t-12 {
        width : 99%; 
    }
}

.no-gutters {
    width: @grid-width;
    margin: 0 auto!important;
    
    [class*='t-'] {
        padding-right:0;
        padding-left:0;
}
    
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    
    &:after, &:before {
        -webkit-box-sizing: border-box;
        box-sizing:border-box;
    }
    
    div {
        float: left;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        
        &:after, &:before {
            -webkit-box-sizing: border-box;
            box-sizing:border-box;
        }
    }
    
    .t-1 {
        width : 8.33333333%; 
    }
    .t-2 {
        width : 16.66666667%; 
    }    
    .t-3 {
        width : 25%; 
    }
    .t-4 {
        width : 33.33333333%; 
    }
    .t-5 {
        width : 41.66666667%; 
    }
    .t-6 {
        width : 50%; 
    }
    .t-7 {
        width : 58.33333333%; 
    }
    .t-8 {
        width : 66.66666667%; 
    }
    .t-9 {
        width : 75%; 
    }
    .t-10 {
        width : 83.33333333%; 
    }
    .t-11 {
        width : 91.66666667%; 
    }
    .t-12 {
        width : 100%; 
    }
}

.toad-clear {
  content: "";
  display: table;
  clear: both; }

//RESPONSIVE

@media only screen and (min-width:@breakpoint) and (max-width:@grid-width) {
    .toad-container  {
        width : 100%;
    } 
}

@media only screen and (max-width:@breakpoint) {
    .toad-container, .no-gutters  {
        width : 100%;
        
        div {
            margin: 1%;
        }
        
        .t-1, .t-2, .t-3, .t-4, .t-5, .t-6, .t-7, .t-8, .t-9, .t-10, .t-11, .t-12 { 
            width : 98%; 
            float : none;
        }
    }
}